<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개 페이지</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div>
            <ul class="header_list">
                <li><a href="index.html">홈</a></li>
                <li><a href="aboutme.html">자기소개</a></li>
                <li><a href="photo.html">내사진</a></li>
                <li>몇시에요</li>
            </ul>
        </div>
    </header>
    <section class="photo_section">
        <h1>나중에 채우겠습니다.</h1>
    </section>
    <footer>
        <ul>
            <li>kimtree97@naver.com</li>
            <li>https://github.com/tre2man</li>
        </ul>
    </footer>
</body>
</html>